// Add flex-wrapper to a container and it will make the children elements into
// Equal width columns

.column-wrapper {
  display: flex;
  align-items: stretch;
  flex-wrap: wrap;
  margin-bottom: 1em;

  > * {
    flex-grow: 1;
    box-sizing: border-box;
    .reveal & {
      // Specificity bump in case of upstream library
      margin-top: 0;
      margin-bottom: 0;
    }
  }

}

.reveal small * {
  vertical-align: top;
}

.reveal .file-list {

  &,
  & ul {
    min-width: 40%;
    text-align: left;
    margin: 0;
    padding: 0;
  }

  ul {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: -.8em;
      width: .3em;
      height: calc(100% - .8em);
      border: 1px solid #999;
      border-right: 0;
      border-top: 0;
    }

  }

  li {
    position: relative;
    margin: 0.3em 0;
    padding: 0 0 0 1.2em;
    list-style: none;
    line-height: 1.2em;

    &:before {
      content: "\f07b";
      position: absolute;
      top: .1em;
      left: 0;
      display: block;
      padding: 0 .3em 0 0;
      font: normal normal normal 1.2em FontAwesome;
      font-size: inherit;
      text-rendering: auto;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      transform: translate(0, 0);
    }

    &.file {
      &:before {
        content: "\f016";
        top: 0;
      }
    }

  }

}
