/**
 * A reveal.js theme for DrupalCon Seattle 2019.
 * - Authored by Jen Lampton.
 * - Credit to Wes Ruvacabla for the inspiration.
 */

@charset "UTF-8";

/*********************************************
 * FONTS
 *********************************************/

 /* Open Sans ****************************************************************/
@import url(../../lib/font/open-sans/open-sans.css);

/* Montserrat ***************************************************************/
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat/Montserrat-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat/Montserrat-Light.ttf');
  font-weight: 300; /* light */
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat/Montserrat-Bold.ttf');
  font-weight: bold; /* Bold */
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat';
  src: url('../../fonts/Montserrat/Montserrat-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

/* Bitter ********************************************************************/
@font-face {
  font-family: 'Bitter';
  src: url('../../fonts/Bitter/Bitter-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Bitter';
  src: url('../../fonts/Bitter/Bitter-Bold.ttf');
  font-weight: bold; /* Bold */
  font-style: normal;
}
@font-face {
  font-family: 'Bitter';
  src: url('../../fonts/Bitter/Bitter-Italic.ttf');
  font-weight: normal;
  font-style: italic;
}

/*********************************************
 * GLOBAL STYLES
 *********************************************/
html {
  font-size: 16px; /* to set rems */
}

body {
  background: #fafafa none top center no-repeat;
  background-size: 100%;
}

.reveal {
  font-family: "Montserrat", Helvetica, sans-serif;
  color: #3A546A;
  font-size: 30px;
}
.reveal section {
  box-sizing: border-box;
  height: 100%;
  position: relative;
}

::selection {
  color: #fff;
  background: #3eb4ff;
  text-shadow: none;
}

.reveal .slides > section {
  line-height: 1.3;
  font-weight: inherit;
  padding: 160px 0 40px 0;
}
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit;
  padding: 0;
}

a {
  text-decoration: underline;
}

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0 0 .5em 0;
  color: #0C4167;
  font-family: "Montserrat", Helvetica, sans-serif;
  font-weight: 300; /* light */
  line-height: 1.2;
  letter-spacing: normal;
  text-shadow: none;
  word-wrap: break-word;
}

section h1:first-child,
section h2:first-child,
section h3:first-child,
section h4:first-child,
section h5:first-child,
section h6:first-child {
  text-transform: none;
}

.reveal h1 {
  font-size: 80px;
  font-family: "Bitter", Georgia, serif;
  text-shadow: none;
}
.reveal h2 {
  font-size: 48px;
  font-family: "Bitter", Georgia, serif;
}
.reveal h3 {
  font-size: 1.3em;
}
.reveal h4 {
  font-size: 1em;
}
.reveal h5,
.reveal h6 {
  font-size: .9em;
  letter-spacing: 1px;
}
.reveal h6 {
  font-size: 30px;
  font-weight: normal;
  letter-spacing: 1px;
}

.reveal h4 strong,
.reveal h5 strong {
  font-weight: 500; /* normal */
}


/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 45px 0;
  line-height: 1.5em;
  font-weight: normal;
}

.reveal p.nomargin {
  margin: 0;
}

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ul.no-bullets {
  list-style-type: none;
  margin-left: 0;
}

.reveal li {
  margin: 0 0 0.5em;
  color: #3A546A;
  font-weight: 300; /* light */
}

.reveal ol {
  list-style-type: decimal;
}

.reveal ul {
  list-style-type: disc;
  margin-bottom: 1em;
}

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px;
  margin-top: .25em;
  font-size: .9em; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal q,
.reveal blockquote {
  quotes: none; }

.reveal blockquote {
  position: relative;
  display: block;
  margin: 0.55em auto;
  text-align: left;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  z-index: 1;
  font-style: italic; }
  .reveal blockquote p:first-child,
  .reveal blockquote p:last-child {
    display: inline-block; }
  .reveal blockquote:before,
  .reveal blockquote:after {
    font-family: Georgia, serif;
    font-weight: bold; }
  .reveal blockquote:before {
    content: "“";
    position: absolute;
    top: 0.2em;
    left: -0.6em;
    z-index: 0;
    font-size: 3em;
    line-height: 0.333em;
    opacity: .5; }
  .reveal blockquote:after {
    content: "”"; }

.reveal q {
  font-style: italic; }

pre {
  display: block;
  position: relative;
  text-align: left;
  font-size: 0.7em;
  font-family: monospace;
  line-height: 1.2em; }

.reveal pre code {
  display: block;
  overflow: auto;
  max-height: 500px; }

.pseudo-code .punctuation {
  visibility: hidden; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small,
.reveal .small {
  font-size: 0.75em;
  line-height: 1.25em;
  display: inline-block;
  vertical-align: baseline;
  font-weight: 300; /* light */
}
.reveal small * {
  vertical-align: top;
}

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #0074bd;
  text-decoration: none;
  -webkit-transition: color 0.15s ease;
  -moz-transition: color 0.15s ease;
  transition: color 0.15s ease; }

.reveal a:hover {
  color: #0ba1ff;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #004571; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 0 0 15px 0px;
  background: rgba(255, 255, 255, 0.12);
}

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.controls div {
  background: #555; }

.controls div.navigate-left:before {
  border-right-color: #eee; }

.controls div.navigate-right:before {
  border-left-color: #eee; }

.controls div.navigate-up:before {
  border-bottom-color: #eee; }

.controls div.navigate-down:before {
  border-top-color: #eee; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2); }

.reveal .progress span {
  background: #0074bd;
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

/*********************************************
 * SLIDE NUMBER
 *********************************************/
.reveal .slide-number {
  color: #0074bd; }

/*********************************************
 * THEME UTILITY CLASSES
 *********************************************/
.color-link {
  color: #0074bd; }

.bg-link {
  background: #0074bd; }

.color-slide-bg {
  color: #fafafa; }

.bg-slide-bg {
  background: #fafafa; }

.color-headline {
  color: #222; }

.bg-headline {
  color: #222; }

.color-highlighter {
  color: #ffec99; }

.bg-highlighter,
.highlight {
  background: #ffec99; }

/*********************************************
 * PRISM OVERRIDES
 *********************************************/
.reveal .token {
  background: transparent; }

/**********************************************
 * CUSTOM UTILITIES THEMING
 **********************************************/
.reveal .file-list :before {
  color: #0084d7; }

.fa-folder,
.fa-file {
  color: #0084d7;
}

/*********************************************
 * Slide Types - background
 *********************************************/
.reveal .slide-background {
  background-position: top left;
  background-size: cover;
}

/*********************************************
 * Slide Types - dark
 *********************************************/
.reveal .slides > section.dark {
  padding: 250px 0 40px 0;
}
.reveal .slides > section.dark:after {
  content: ' ';
  position: absolute;
  bottom: 50px;
  border-bottom: 3px solid #fff;
  left: 30%;
  right: 30%;
}
section.dark,
section.dark h1,
section.dark h2,
section.dark h3,
section.dark h4,
section.dark h5,
section.dark h6,
section.dark a,
section.dark i {
  color: #fff;
}

section.dark h1 {
  font-size: 110px;
}

/*********************************************
 * Specific Slides - cover
 *********************************************/
html.cover .reveal .slides > section {
  padding: 330px 0 40px 0;
}
html.cover .reveal section h1 {
  font-size: 2em;
}
html.cover .reveal section h3 {
  font-size: 1em;
}

/*********************************************
 * Specific Slides - taller
 *********************************************/
html.taller .reveal .slides > section {
  padding: 40px 0 40px 0;
}

/*********************************************
 * Specific Slides - thanks
 *********************************************/
html.thanks body section h1 {

}
html.thanks body section h3 {

}

/*********************************************
 * Utility Classes
 *********************************************/

/* make it red */
.reveal .subtitle {
  color: #D8113A;
  font-weight: 300; /* light */
}
.reveal .red {
  color: #D8113A;
}

/* stick it to tbe bottom */
.reveal .foot {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
}
.reveal .dark .foot {
  bottom: 60px;
}

/* size */
.reveal .larger,
.reveal .larger * {
  font-size: 1.25em;
}
.reveal .larger li {
  margin: 0 0 0.6666em;
}

/* padding */
.reveal .pad-left {
  padding-left: 30px;
}
.reveal .pad-right {
  padding-right: 30px;
}
.reveal .pad-top {
  padding-top: 30px;
}
.reveal .pad-bottom {
  padding-bottom: 30px;
}

/* alignment */
.reveal .centered {
  text-align: center;
}
.reveal .align-left {
  text-align: left;
}
.reveal .align-right {
  text-align: right;
}
